/* RESET CSS */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* FONTES */
@font-face {
    font-family: "Rubik-Bold";
    src: url(/fonts/Rubik-Bold.ttf);
}

@font-face {
    font-family: "Rubik-Italic-Variable";
    src: url(/fonts/Rubik-Italic-VariableFont_wght.ttf);
}


/* DESKTOP (ACIMA DE 992 PX) */
body{
    background-color: black;
    background-repeat: no-repeat;
    height: 800px;
}

header{
    display: flex;
    max-width: 1740px;
    justify-content: space-between;
} 

header .img{
    margin-bottom: 0px;
    height: 300px;
}

h1{
    margin-top: 0px;
}


header .hamb{
    display: none;
    height: 300px;
}

header .menu{
    display: flex;
    flex-direction: column;   
    justify-content: center;
    background-color:rgb(0, 0, 0);
    height: 300px;
    margin-top: 10px;
}

.menu .item{
    color:rgb(75, 230, 28);
    text-transform: uppercase;
    text-decoration: none;
    padding: 20px;
}

main{
    width: 1740px;
    font-family: "Rubik-Bold";
    color:rgb(140, 218, 117);
    text-align: center;
    
}

main .saudacao{
    margin-top: 5px;
}

main .beat{
    color:rgb(140, 218, 117);
    font-size: 30px;
}

footer{
    display: flex;
    width: 1740px;
}

footer .container-fluid{
    color:rgb(140, 218, 117);
    text-align: center;
}


/* TABLET DE 991 A 768 PX*/
@media screen and (max-width: 991px){
    
        
    .container-fluid{
        align-content: center;

    }

    section{
        max-width: 900px;
        align-content: left;
    }

    section .saudacao{
        display: flex;
        justify-content: center;
    }
}

@media screen and (max-width: 899px){


    

}

